<div class="container">
    <div class="aboutMe" appVisibleOnScroll>
        <div class="aboutMeInfo">
            <h1 data-translate-key="Header_me">About me</h1>
            <span data-translate-key="me-txt">Hi, I am a Front-end Developer based in Ingolstadt, Germany. My journey into
                programming began with
                introductory courses at university. As I progressed, my passion for front-end development grew, particularly
                through hands-on projects during my training at the Developer Academy.
                Throughout my career, I have honed my skills with various web development technologies and have carefully
                curated a portfolio of my work. Please take a moment to check it out! </span>
    
            <div>
                <img src="/img/bulb.svg" alt="bulb">
                <span data-translate-key="point1">One of my favorite aspects of working as a front-end developer is the
                    freedom to bring my own ideas to
                    life, limited only by my imagination. I can turn these ideas into reality through code, receiving
                    instant visual feedback on my work and seeing the value I have created. </span>
            </div>
            <div>
                <img src="/img/puzzle.svg" alt="">
                <span data-translate-key="point2">For me, time flies when I'm coding, and every problem I solve feels like fitting a puzzle piece into
                    its perfect spot. The satisfaction is greatest when the problem has been particularly challenging to
                    overcome.</span>
            </div>
        </div>
    
        <div class="circleSelfie">
            <img class="ellipseFoto" src="/img/miniselfie.png" alt="">
            <img class="orangeLine" src="/img/LINE7.png" alt="">
        </div>
    
        <img src="/img/redMist.png" alt="">
    </div>
    
</div>
