<div class="aboutMe">
    <div class="aboutMeInfo">
        <h1>About me</h1>
        <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
            porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </span>

        <div>
            <img src="img/bulb.png" alt="bulb">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
        <div>
            <img src="img/puzzle.png" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>

    </div>


    <div class="ellipseFoto">
        <img src="img/Ellipse.png" alt="">
        <img src="img/LINE7.png" alt="">
    </div>

    <img src="img/redMist.png" alt="">
</div>