<div class="header">
    <div class="headerName">
        <h2>Ufuk</h2>
    </div>

    <div class="headerLink">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>

    <img class="burger-icon d-none" src="/img/burger.png" alt="" (click)="toggleMenu()">

    <div class="dropdown-menu" *ngIf="menuOpen">
        <a href="#aboutMe" (click)="closeMenu()">About me</a>
        <a href="#skills" (click)="closeMenu()">Skills</a>
        <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
        <a href="#contact" (click)="closeMenu()">Contact</a>
    </div>
</div>
