<div class="header">
    <div class="headerName">
        <a routerLink="/" [ngClass]="{'pointer-cursor': true}"><img src="/img/logo.png" alt=""></a>
    </div>

    <div class="headerLink">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <div>
            <button [class.active]="currentLanguage === 'de'" (click)="switchLanguage('de')">de</button> |
            <button [class.active]="currentLanguage === 'en'" (click)="switchLanguage('en')">en</button>


        </div>
    </div>

    <img class="burger-icon d-none" src="/img/burger.png" alt="" (click)="toggleMenu()">

    <div class="dropdown-menu" *ngIf="menuOpen">
        <a href="#aboutMe" (click)="closeMenu()">About me</a>
        <a href="#skills" (click)="closeMenu()">Skills</a>
        <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
        <a href="#contact" (click)="closeMenu()">Contact</a>
        <div>
            <button (click)="switchLanguage('de')">de</button> | <button (click)="switchLanguage('en')">en</button>
        </div>
    </div>
</div>