@import '../app.component.scss';

.fullContactArea {
    margin-top: 150px;
    margin-bottom: 100px;
}


.contactHeadline {
    @include dFlex($jc: flex-start, $ai: center, $g: 50px);

    h1 {
        font-weight: 700;
        font-size: 90px;
    }
}

.contactDetails {
    @include dFlex($jc: space-between, $ai: baseline, $g: 150px);
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
}

.contactText {
    @include dFlex($jc: center, $ai: flex-start);
    flex-direction: column;

    span {
        font-weight: 400;
    }

    h3 {
        font-weight: 700;
        font-size: 32px;
    }

    img {
        position: absolute;
        left: 0;
        margin-top: 1000px;
        z-index: -1;
    }
}

.d-none {
    display: none;
}

.inputContainer {
    position: relative;
    @include dFlex($jc: flex-start, $ai: baseline);
    flex-direction: column;

    div {
        @include dFlex($jc: flex-end, $ai: center);

        img {
            padding-right: 12px;
            position: absolute;
            box-sizing: border-box;
        }
    }

    .warnMessage {
        color: darkred;
        margin-top: 5px;
        font-size: 0.875rem;
    }
}

.textContainer {
    position: relative;
    flex-direction: column;
    @include dFlex($jc: flex-start, $ai: flex-start);

    div {
        @include dFlex($jc: flex-end, $ai: flex-start);

        img {
            padding-right: 12px;
            padding-top: 12px;
            position: absolute;
            box-sizing: border-box;
        }
    }

    .warnMessage {
        color: darkred;
        margin-top: 5px;
        font-size: 0.875rem;
    }
}

.contactInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        input[type=text],
        [type=email],
        textarea {
            width: 617px;
            height: 50px;
            background-color: transparent;
            color: white;
            border-radius: 10px;
            border: 2px solid rgba(255, 71, 71, 1);
            padding: 10px;
            box-sizing: border-box;
            font-weight: 400;
            transition: border-color 0.3s;

            &:hover {
                border-color: rgb(250, 121, 2);
            }

            &.invalid {
                border: 2px solid darkred;
            }

            &.valid {
                border: 2px solid lightgreen;
            }
        }

        textarea {
            max-width: 617px;
            height: 202px;
        }

        button {
            max-width: 253px;
            height: 58px;
            border-radius: 10px;
            padding: 15px 30px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 23px;
            background-color: rgba(182, 182, 182, 1);
            color: white;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &.valid {
                background-color: orange;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1, 1.1) scaleY(1.1);
                }
            }
        }
    }
}

.arrowUpPosition {
    @include dFlex($jc: flex-end, $ai: center);
    width: 100%;

    .arrowUp {
        background-image: url('/img/contact/whiteArrowUp.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 39px;
        height: 39px;
        margin-top: 70px;
        box-sizing: border-box;
        position: relative;

        &:hover {
            background-image: url('/img/contact/orangeArrowUp.png');
            cursor: pointer;
        }
    }
}



.checkBoxArea {
    @include dFlex($jc: center, $ai: flex-start, $g: 10px);
    flex-direction: column;
    position: relative;

    div {
        @include dFlex($jc: center, $ai: flex-start, $g: 6px);
    }

    img {
        &:hover {
            cursor: pointer;
            background-color: rgba(24, 55, 113, 1);
            border-radius: 38px;
            width: 24px;
            height: 24px;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
    }

    a {
        padding-left: 3px;
        padding-right: 3px;
        box-sizing: border-box;
        color: rgba(255, 71, 71, 1);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .warnMessage {
        color: darkred;
        font-size: 0.875rem;
    }
}

@media (min-width: 320px) and (max-width: 431px) {
    .fullContactArea {
        margin-top: -70px;
    }

    .contactHeadline h1 {
        font-size: 44px;
    }

    .contactHeadline {
        gap: 20px;
    }

    .contactDetails {
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
        gap: 50px;
    }

    .contactText h3 {
        font-size: 24px;
    }

    .contactInput form input[type=text],
    .contactInput form [type=email],
    .contactInput form textarea {
        width: 100%;
    }

    .contactText img {
        margin-top: 1700px;
        max-width: 340px;
    }

    .inputContainer {
        justify-content: center;
        width: 100%;
    }
    .textContainer div {
        width: 100%;
    }

    .inputContainer div {
        width: 100%;
    }
    .textContainer {
        width: 100%;
    }
}

@media (min-width: 432px) and (max-width: 1150) {
    .contactText img {
        margin-top: 900px;
    }
}