@import '../app.component.scss';

.portfolio {
    @include dFlex($jc: center, $ai: center, $g: 0px); // übergangslösung: muss verändert werden
    flex-direction: column;
    position: relative;
    top: 100px;
}

.headline {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    width: 100%;
    position: relative;

    div {
        @include dFlex($jc: center, $ai: center, $g: 50px);
        position: absolute;
        right: 0;


        h1 {
            font-weight: 700;
            font-size: 90px;
        }
    }

    span {
        position: relative;
        top: 100px;
    }
}

.project-container {
    margin-top: 200px;
}

.project {
    @include dFlex($jc: center, $ai: center, $g: 100px);
    width: 100%;
    // padding-left: 150px;
    // padding-right: 80px;
    box-sizing: border-box;

    div {
        max-width: 513px;

        span {
            font-weight: 700;
            font-size: 32px;
            color: rgba(255, 71, 71, 1);
        }

        div {
            @include dFlex($jc: flex-start, $ai: center, $g: 86px);

            button {
                width: 152px;
                height: 58px;
                border-radius: 10px;
                padding: 15px, 30px, 15px, 30px;
                font-weight: 400;
                font-size: 23px;
                color: white;
            }
        }
    }
}

.firstButton {
    background-color: rgba(255, 71, 71, 1);
    border: none;

    &:hover {
        cursor: pointer;
        background-color: rgba(250, 121, 2, 1);
    }
}

.secondButton {
    background-color: transparent;
    border: 1px solid rgba(250, 121, 2, 1);

    &:hover {
        cursor: pointer;
        background-color: rgba(250, 121, 2, 1);
    }
}

.projectEnvironment {
    font-weight: 400;
    font-size: 23px;
    color: rgba(250, 121, 2, 1);
}

.projectText {
    font-weight: 400;

}

.redBackground {
    position: absolute;
    left: 0;
    z-index: -1;
}

.orangeBackground {
    position: absolute;
    right: 0;
    z-index: -1;
}

.end {
    @include dFlex($jc: center, $ai: end);
    flex-direction: column;
    text-align: end;
}


@media (min-width: 320px) and (max-width: 500px) {
    .portfolio {
        top: -150px;
    }

    .secondLine {
        width: 50px;
        height: 3px;
    }

    .firstLine {
        width: 20px;
        height: 3px;
    }

    .headline div {
        gap: 8px;
    }

    .headline div h1 {
        font-size: 44px;
    }

    .headline span {
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }

    .project {
        flex-direction: column;
        gap: 10px;
        padding-top: 80px;
        box-sizing: border-box;
        text-align: center;

        img {
            width: 320px;
        }
    }

    .reverse {
        flex-direction: column-reverse;
        padding-top: 80px;
        box-sizing: border-box;
        gap: 0px;

    }

    .project div {
        max-width: 400px;
        gap: 0;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
        text-align: center;
    }

    .project div div {
        gap: 16px;
        justify-content: center;
        width: 100%;
    }

    .orangeBackground {
        bottom: -500px;
    }

    .redBackground {
        @include dFlex($jc: center, $ai: center);
        bottom: 950px;
        width: 100%;
    }

    .project div span {
        width: 100%;
    }

    .projectEnvironment {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
    }

    .project-container {
        margin-top: 0;
    }

    .project div div button {
        width: 130px;
        height: 50px;
    }

    .projectText {
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
    }
}

@media (min-width: 501px) and (max-width: 1100px) {
    .secondLine {
        width: calc(100px + (350 * ((100vw - 501px) / (1000 - 501))));
        height: 3px;
    }

    .firstLine {
        width: calc(50px + (63 * ((100vw - 501px) / (1000 - 501))));
        height: 3px;
    }

    .headline div h1 {
        font-size: calc(64px + (26 * ((100vw - 501px) / (1000 - 501))));
    }

    .headline div h1 {
        font-size: 64px;
    }

    .headline div {
        gap: 35px;
    }
    .headline span {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
    }


    .project {
        flex-direction: column;
        gap: 10px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 80px;
        box-sizing: border-box;
        text-align: center;
    }

    .reverse {
        flex-direction: column-reverse;
        padding-top: 80px;
        box-sizing: border-box;
        gap: 0px;
    }

    .project div {
        max-width: 400px;
        gap: 0;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
        text-align: center;
    }

    .project div div {
        gap: 16px;
        justify-content: center;
        width: 100%;
    }

    .project div span {
        width: 100%;
    }
    .projectEnvironment {
        width: 100%;
    }

    .project img {
        max-width: 500px;
    }
}



