<div class="container">
    <div class="landingComponent">
        <div class="landingPage">
            <div class="leftSide">
                <img src="/img/group2.png" alt="background color">
                <img class="selfie" src="/img/selfie.png" alt="">
                
            </div>
            <div class="backgroundImage"></div>
            <div class="rightSide">
                <aside class="iAm">
                    <span>I am</span>
                </aside>
                <div class="nameJob">
                    <h1 class="name">Ufuk Özsahin</h1>
                    <span class="job">Frontend Developer</span>
                    <a href="#contact"><button data-translate-key="talk">Let´s talk!</button></a>
                </div>
            </div>
        </div>

        <div class="socialMedia">
            <div class="socialMediaLogo">
                <img src="/img/redLine.png" alt="redline">
                <a target="_blank" href="https://github.com/Ufuk95"><img class="socialImage"
                        src="/img/footer/githubBig.png" alt="github"></a>
                <a href="mailto:oezsahin95@icloud.com"><img class="socialImage" src="/img/footer/emailBig.png"
                        alt="email"></a>
                <a target="_blank" href="https://www.linkedin.com/in/ufuk-özsahin-0634302a3/"><img class="socialImage"
                        src="/img/footer/linkedInBig.png" alt="linkedIn"></a>
                <span>{{ email }}</span>
            </div>
            <div class="scrollDown">
                <img src="/img/scrollDown.png" alt="test">
            </div>
        </div>

    </div>
</div>