<div class="container">
    <div class="landingComponent">
        <div class="landingPage">

            <div class="leftSide">
                <img src="/img/group2.png" alt="background color">
                <img class="selfie" src="/img/profSelfie.png" alt="">
            </div>

            <div class="rightSide">
                <aside class="iAm">
                    <span>I am</span>
                </aside>
                <div class="nameJob">
                    <h1 class="name">Ufuk Özsahin</h1>
                    <span class="job">Frontend Developer</span>
                    <a href="#contact"><button data-translate-key="talk">Let´s talk!</button></a>
                </div>
            </div>

        </div>

        <div class="backgroundImage"></div>

        <div class="socialMedia">
            <div class="socialMediaLogo">
                <!-- <div class="div-strich"></div> -->
                <img src="/img/redLine.png" alt="redline">
                <a target="_blank" href="https://github.com/Ufuk95"><img class="socialImage"
                        src="/img/icons/gitbig.svg" alt="github"></a>
                <a href="mailto:info@ufuk-oezsahin.de"><img class="socialImage" src="/img/icons/mailsmall.svg"
                        alt="email"></a>
                <a target="_blank" href="https://www.linkedin.com/in/ufuk-özsahin/"><img class="socialImage"
                        src="/img/icons/linksmall.svg" alt="linkedIn"></a>
                <span>{{ email }}</span>
            </div>
            <div class="scrollDown">
                <img src="/img/scrollDown.svg" alt="test">
            </div>
        </div>

    </div>
</div>