<div class="mySkills">
    <div class="skillLogos">
        <img src="/img/skills/orangeDust.png" alt="">
        <div *ngFor="let image of skillImages" class="skill-container">
            <img [src]="image.src" alt="web skill logos">
            <span>{{ image.name }}</span>
        </div>
    </div>

    <div class="skillText">
        <div>
            <h1>
                My skills
            </h1>
            <img src="/img/skills/redSkillLine.png" alt="">
        </div>
        <span>
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </span>
        <a href="#contact"><button>Get in touch</button></a>
    </div>
</div>