<div data-translate-key="imprintContent">

    <h1>Imprint</h1>

    <h2>Information according to § 5 TMG</h2>
    <p>
        <strong>Ufuk Özsahin</strong><br>
        Jurastraße 15<br>
        85129 Oberdolling<br>
        Germany
    </p>

    <h2>Contact:</h2>
    <p>
        Phone: <a href="tel:+4915236253545">+4915236253545</a><br>
        Email: <a href="mailto:{{mail}}">{{mail}}</a><br>
        Web: <a href="http://ufuk-oezsahin.de">ufuk-oezsahin.de</a>
    </p>

    <h2>Responsible for content according to § 55 Abs. 2 RStV:</h2>
    <p>
        <strong>Ufuk Özsahin</strong><br>
        Jurastraße 15<br>
        85129 Oberdolling<br>
        Germany
    </p>

    <h2>Disclaimer:</h2>

    <h3>Liability for contents</h3>
    <p>
        As a service provider, we are responsible for our own contents on these pages according to § 7 Abs.1 TMG according to the general laws. According to §§ 8 to 10 TMG, we as service providers are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information according to the general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific infringement. If we become aware of such infringements, we will remove these contents immediately.
    </p>

    <h3>Liability for links</h3>
    <p>
        Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the pages is always responsible for the contents of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal contents were not recognizable at the time of linking. However, a permanent content control of the linked pages is not reasonable without concrete evidence of a violation of the law. If we become aware of legal violations, we will remove such links immediately.
    </p>

    <h3>Copyright</h3>
    <p>
        The contents and works created by the site operators on these pages are subject to German copyright law. The duplication, processing, distribution, and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use. Insofar as the contents on this site were not created by the operator, the copyrights of third parties are respected. In particular, third-party contents are marked as such. Should you nevertheless become aware of a copyright infringement, we ask for a corresponding note. If we become aware of legal violations, we will remove such contents immediately.
    </p>

    <h3>Dispute Resolution</h3>
    <p>
        The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>. You can find our email address in the imprint above.
    </p>
    <p>
        We are not willing or obliged to participate in dispute resolution procedures before a consumer arbitration board.
    </p>
</div>
