@import '../app.component.scss';

.landingPage {
    @include dFlex($jc: space-between, $ai: center);
    width: 100%;
    height: 80vh;
}

.nameJob {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;


    .name {
        font-weight: 700;
        font-size: 90px;
        position: relative;
        top: 40px;
    }

    .job {
        color: rgba(255, 71, 71, 1);
        font-weight: 400;
        font-size: 58px;
    }

    button {
        background-color: rgba(250, 121, 2, 1);
        width: 164px;
        height: 58px;
        border: none;
        border-radius: 10px;
        font-weight: 400;
        font-size: 23px;
        color: white;
        transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;

        &:hover {
            background-color: rgba(255, 71, 71, 1);
            transform: scale(1.1) translateY(3px);
            cursor: pointer;
        }
    }


}

.rightSide {
    @include dFlex($ai: center);
    box-sizing: border-box;
    padding-right: 48px;
    width: 100%;
}

.iAm {
    transform: rotate(-90deg);
    @include dFlex($jc: space-between, $ai: center);


    span {
        width: 152px;
        font-weight: 400;
        font-size: 64px;
        position: relative;
        top: 24px;
    }
}


.leftSide {
    width: 90%;
}

.backgroundImage {
    margin-top: 100px;
    width: 100%
}

.dataImage {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    right: 0;
    bottom: 300px;
    height: 100vh;
    width: 100% !important;
    z-index: -1;
}

.socialMedia {
    @include dFlex($jc: space-between, $ai: center);
    position: relative;
    top: 500px;
}

.socialMediaLogo {
    @include dFlex($jc: center, $ai: center, $g: 30px);
}

.scrollDown {
    margin-right: 48px;
    box-sizing: border-box;
}
