.font-size-sm {
    font-size: 1em;
  }
  
  .font-size-md {
    font-size: 1.25em;
  }
  
  .font-size-lg {
    font-size: 1.5em;
  }
  
  .font-size-xl {
    font-size: 2em;
  }
  

div {
    padding-top: 50px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    margin: auto;

    h1, h2, h3 {
        color: rgba(255, 71, 71, 1);
    }

    p {
        a {
            color: rgba(250, 121, 2, 1);
            text-decoration: none;
            line-break: anywhere;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 410px) {
    h1, h2, h3 {
        font-size: 25px;
    }
}