<footer>
    <div>
        <div class="leftSide">
            <a routerLink="/" [ngClass]="{'pointer-cursor': true}"><img src="/img/logo.png" alt=""></a>
            <a class="imprint" routerLink="/imprint" data-translate-key="imprint">Imprint</a> 
        </div>
        
            
    
        <p>© Ufuk Özsahin 2024</p>
    
        <div class="footerLogo">
            <a target="_blank" href="https://github.com/Ufuk95"><img class="footerImage" src="/img/icons/gitbig.svg" alt="github"></a>
            <a href="mailto:oezsahin95@icloud.com"><img class="footerImage" src="/img/icons/mailbig.svg" alt="email"></a>
            <a target="_blank" href="https://www.linkedin.com/in/ufuk-özsahin-0634302a3/"><img class="footerImage" src="/img/icons/linkbig.svg" alt="linkedIn"></a>
        </div>
    </div>
</footer>