<footer>
    <div>
        <a routerLink="/" [ngClass]="{'pointer-cursor': true}"><img src="/img/logo.png" alt=""></a>
            
    
        <p>© Ufuk Özsahin 2024</p>
    
        <div class="footerLogo">
            <a target="_blank" href="https://github.com/Ufuk95"><img class="footerImage" src="/img/footer/githubBig.png" alt="github"></a>
            <a href="mailto:oezsahin95@icloud.com"><img class="footerImage" src="/img/footer/emailBig.png" alt="email"></a>
            <a target="_blank" href="https://www.linkedin.com/in/ufuk-özsahin-0634302a3/"><img class="footerImage" src="/img/footer/linkedInBig.png" alt="linkedIn"></a>
        </div>
    </div>
    <a routerLink="/imprint" data-translate-key="imprint">Imprint</a> 
</footer>